@import "tailwindcss";

:root {
  --background: #f7f5f2;
  --foreground: #2f2a26;

  --primary: #8b5e3c;
  --secondary: #5e6b4a;
  --muted: #ddd4c8;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lora), serif;
}

.contact-strip-button {
  background-color: var(--primary);
  color: white;
}

.contact-strip-button:hover {
  background-color: var(--secondary) !important;
  color: white;
}

.social-button {
  display:flex;
  align-items:center;
  justify-content:center;

  width:52px;
  height:52px;

  border-radius:9999px;

  border:1px solid var(--muted);

  transition:.25s;
}

.social-button:hover{
   background:var(--secondary);
   color:white;
}